In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('content/framingham.csv')

In [5]:
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [7]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4233    False
4234    False
4235    False
4236    False
4237    False
Length: 4238, dtype: bool

In [11]:
df.dropna(inplace=True)

In [12]:
df.sample(10)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
1652,0,39,3.0,0,0.0,0.0,0,0,0,195.0,119.0,84.0,24.60,65.0,73.0,0
2964,1,68,1.0,1,15.0,0.0,0,0,0,193.0,145.0,67.0,23.13,75.0,72.0,1
451,0,50,2.0,1,8.0,0.0,0,0,1,292.0,132.0,82.0,22.54,80.0,110.0,0
1892,0,39,1.0,1,15.0,0.0,0,1,0,280.0,152.0,104.0,24.22,90.0,82.0,0
290,0,44,3.0,0,0.0,0.0,0,0,0,270.0,131.5,76.0,22.19,68.0,113.0,0
2190,1,37,2.0,1,1.0,0.0,0,1,0,165.0,134.5,91.0,27.97,86.0,80.0,0
2345,0,64,1.0,1,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0
3153,0,57,1.0,0,0.0,0.0,0,0,0,219.0,125.0,83.0,23.22,65.0,115.0,0
3671,1,56,1.0,0,0.0,1.0,1,1,0,208.0,167.0,92.0,24.66,60.0,75.0,1
921,0,56,4.0,0,0.0,0.0,0,0,0,298.0,115.0,80.0,31.11,75.0,77.0,0

In [13]:
x = df.drop('TenYearCHD',axis = 1)

In [14]:
y = df['TenYearCHD']

In [15]:
from sklearn.model_selection import train_test_split

In [25]:
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state =1)

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
model = LogisticRegression()

In [28]:
model.fit(X_train,y_train)

C:\Users\saksh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [29]:
y_pred = model.predict(X_test)

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
acc = accuracy_score(y_test,y_pred)

In [33]:
acc

0.8592896174863388

In [35]:
model.predict_proba(X_test)

array([[0.90028857, 0.09971143],
       [0.94201007, 0.05798993],
       [0.88281773, 0.11718227],
       ...,
       [0.81714528, 0.18285472],
       [0.85003327, 0.14996673],
       [0.38845904, 0.61154096]])

In [42]:
model.score(X_test,y_test)

0.8592896174863388

In [38]:
df1 = pd.DataFrame({'original':y_test,'predicted':y_pred})

In [39]:
df1.sample(10)

      original  predicted
2707         0          0
189          0          0
3398         0          0
3911         0          0
2621         0          0
52           0          0
1632         0          0
4125         1          0
1376         0          0
1236         0          0

In [43]:
model.coef_

array([[ 0.12780981,  0.01914917, -0.36211891, -0.04556894,  0.01459525,
         0.03770984,  0.00401067,  0.21597491,  0.0468819 , -0.00052251,
         0.01965403, -0.02135856, -0.04573357, -0.02760728,  0.00470049]])

In [44]:
model.intercept_

array([-0.09539458])