In [1]:
import pandas as pd
import numpy as np

In [47]:
data = {'Name':['Saksham','Sakshi','Ambika','Richa','Aman','Pravesh','Ashish','Atul','Raja','Ramakant'],
       'Age':[85,56,78,90,62,71,88,54,93,47],
       'Hours':[7,5,6,8,5,6,7,4,8,3],
       'Result':['Pass','Fail','Pass','Pass','Fail','Pass','Pass','Fail','Pass','Fail']}

In [48]:
df =pd.DataFrame(data)

In [14]:
from sklearn.preprocessing import LabelEncoder

In [20]:
lb = LabelEncoder()

In [22]:
df['Result']=lb.fit_transform(df['Result'])

In [23]:
df

       Name  Age  Hours  Result
0   Saksham   85      7       1
1    Sakshi   56      5       0
2    Ambika   78      6       1
3     Richa   90      8       1
4      Aman   62      5       0
5   Pravesh   71      6       1
6    Ashish   88      7       1
7      Atul   54      4       0
8      Raja   93      8       1
9  Ramakant   47      3       0

In [32]:
df['Result'] = df['Result'].apply(lambda x:1 if x=='Pass' else 0)

In [33]:
df

       Name  Age  Hours  Result
0   Saksham   85      7       1
1    Sakshi   56      5       0
2    Ambika   78      6       1
3     Richa   90      8       1
4      Aman   62      5       0
5   Pravesh   71      6       1
6    Ashish   88      7       1
7      Atul   54      4       0
8      Raja   93      8       1
9  Ramakant   47      3       0

In [54]:
df['Result'] = df['Result'].replace({'Pass':1,'Fail':0})

In [66]:
df

       Name  Age  Hours  Result
0   Saksham   85      7       1
1    Sakshi   56      5       0
2    Ambika   78      6       1
3     Richa   90      8       1
4      Aman   62      5       0
5   Pravesh   71      6       1
6    Ashish   88      7       1
7      Atul   54      4       0
8      Raja   93      8       1
9  Ramakant   47      3       0

In [67]:
from sklearn.model_selection import train_test_split

In [75]:
X = df.iloc[:,1:3]

In [76]:
y = df['Result']

In [77]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=2)

In [78]:
X_train

   Age  Hours
0   85      7
7   54      4
2   78      6
3   90      8
6   88      7
9   47      3
8   93      8

In [79]:
from sklearn.naive_bayes import GaussianNB

In [80]:
gnb = GaussianNB()

In [81]:
gnb.fit(X_train,y_train)

GaussianNB()

In [82]:
y_pred = gnb.predict(X_test)

In [88]:
y_pred

array([0, 0, 1], dtype=int64)

In [89]:
lb.inverse_transform(y_pred)

array(['Fail', 'Fail', 'Pass'], dtype=object)

In [84]:
from sklearn.metrics import accuracy_score

In [86]:
ac = accuracy_score(y_test,y_pred)

In [87]:
ac

1.0